/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  box-sizing: content-box;
  position: relative;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: #8a8a8a;
}

h1, h2, h3 {
  color: white;
}

#map-selector {
  height: 400px;
  width: 400px;
  position: relative;
  box-sizing: content-box;
}

.bg {
  background-image: url("https://res.cloudinary.com/seeking-sasquatch/image/upload/v1560482161/ss-bg-final_i4ohiv.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Handles styling for image drag and drop on add_sightings page*/

#dropbox { 
  border: 4px dashed #ccc; 
  padding-left: 8px;
  width: 400px;
}
.my-form {
  margin-top: 10px;
}
.gallery {
  margin: 10px;
}
.gallery img {
  margin-left: 16px;
}
.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
  background-color: #4b4b4b;
}
.progress-bar .progress{
  height: 8px;
  background-color: #8a8a8a;
  width: 0;
}