#homepage-text {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  margin: 25px;
}

#button-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.homepage-button {
  width: 200px;
  height: 75px;
  background-color: #4b4b4b;
  display: inline-flex;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 40px;
  cursor: pointer;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.homepage-button:hover {
  text-decoration: none;
  color: black;
}

.navbar-brand {
    position: relative;
    background: url(https://res.cloudinary.com/seeking-sasquatch/image/upload/v1560233026/ss-bg-logo-homepage_eldav6.png);
    max-height: 70px;
    width: auto;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  box-sizing: content-box;
  position: relative;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: #8a8a8a;
}

h1, h2, h3 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: #1b1b1b;
  font-family: 'Fjalla One', sans-serif;
}

a:hover {
  color: #1b1b1b;
  text-decoration: underline;
}

.submit-button {
  font-family: 'Fjalla One', sans-serif;
  padding: 5px 10px;
}

.form-control {
  font-family: 'Fjalla One', sans-serif;
}

#map-selector {
  height: 320px;
  width: 320px;
  position: relative;
  box-sizing: content-box;
  margin-top: 25px;
}

.bg {
  background-image: url("https://res.cloudinary.com/seeking-sasquatch/image/upload/v1560482161/ss-bg-final_i4ohiv.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Handles styling for image drag and drop on add_sightings page*/

#dropbox { 
  border: 4px dashed #ccc; 
  padding-left: 8px;
  width: 320px;
  margin-top: 25px;
}

.my-form {
  margin-top: 10px;
}

.gallery {
  margin: 10px;
}

.gallery img {
  margin-left: 16px;
}

.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
  background-color: #8a8a8a;
}

.progress-bar .progress{
  height: 8px;
  background-color: #4b4b4b;
  width: 0;
}