<!DOCTYPE html>
<html>
<head>
    <title>Seeking Sasquatch</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/js/add-sighting.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 25%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
    <h1>Record a sighting</h1>

    <form action="/add_sighting" method="POST" enctype="multipart/form-data">
  <div>
    <label>Description: <br>
      <textarea name="description" rows="4" cols="50" placeholder="Tell us what you saw."></textarea>
    </label>
  </div>  
    <div>
      <label>Date:
        <input name="date" type="text" id="datepicker" required>
      </label>
    </div>

    <div id="map"></div>

    <div id="dropbox">
    <div class="form_line">
      <div class="form_controls">
        <div class="upload_button_holder">
          <input type="file" id="fileElem" accept="image/*" style="display:none" onchange="handleFiles(this.files)">
          <a href="#" id="fileSelect">Click, or drag and drop to upload an image.</a>
          <input type="hidden" name="new_img" id="new_img" value="replace_url">
        </div>
      </div>
    </div>
  <div class="progress-bar" id="progress-bar">
    <div class="progress" id="progress"></div>
  </div>
  <div id="gallery" />
</div>
</div>

<input type="submit" value="Submit"/>
    </form>
    
    

    <!-- Create add_sighting.js file -->
    <!-- Ask user for permission to geolocate on this page -->
    <!-- If user refuses, have map set default -->
    <!-- C/P usable JS code for place searches, so user can place marker -->
    <!-- Save marker coordinates to variable accessible by flask -->
    <!-- Move ugly ass datepicker functions far the fuck away from this html file -->
    <!-- Figure out what the heck this does so I can make image uploading a one step process: -->
    <!-- https://codepen.io/team/Cloudinary/pen/Edxjbj?editors=0000 -->

</body>
</html>