<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Seeking Sasquatch</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- <script src="/static/js/homepage.js"></script> -->
</head>
<body>

  <div class="bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-6" style="margin-top: 20px;">
          <div>
          <div><img src="https://res.cloudinary.com/seeking-sasquatch/image/upload/v1560233026/ss-bg-logo-homepage_eldav6.png" class="img-fluid" alt="Seeking Sasquatch"></div>
          <div id="homepage-text">
            View Bigfoot sightings by location. Read through the written testimony of eye witnesses documenting each encounter. Sign up for an account to record your own experience, and share what you saw.
          </div>
          <div id="button-wrapper">
            <a type="button" role=button class="homepage-button" href="/map" role>View map</a>
            <a type="button" role="button" class="homepage-button" href="/register">Sign up</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>