<!DOCTYPE html>
<html>
<head>
    <title>Seeking Sasquatch</title>
</head>
<body>
    <h1>Log in</h1>
    <div>
        {% for flash in get_flashed_messages() %}
        {{ flash }}
        {% endfor %}
    </div>
    
    <form action="/login" method="POST">

    <div>
      <label>Email:
          <input type="email" name="email" required class="form-control">
      </label>
    </div>

    <div>
      <label>Password:
          <input type="password" name="password" required class="form-control">
      </label>
    </div>

    <div>
      <input type="submit" value="Log in">
  </div>
  </form>

</body>
</html>