{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/maps.css" />
  <script async src="/static/js/hb.js"></script>
{% endblock %}

{% block body %}
  <main>
    <nav class="ui">
      <section class="ui">
        <p>Demo options: </p>
        {% block demo_options %}
        {% endblock %}
      </section>
      <section id="go-home"><a href="/">home</a></section>
    </nav>
    <section class="map">
      {% block map %}
        <div id="map"></div>
      {% endblock %}
    </section>
  </main>
{% endblock %}

{% block scripts %}
  <!-- defer & async
    async
    - Don't wait for me, go ahead and read the rest of the doc while I load
    - When I finish loading:
      - Pause reading HTML
      - Execute the code
    * This allows the rest of your page to appear while JS loads


    defer
    - Finish reading all HTML
    - Then execute my code
    * This guarantees that scripts will execute in the order they appear
  -->
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0RxTzsXse4XH81LWBShYzv8gyLynrWuE&callback=initMap">
  </script>
{% endblock %}
