{% extends 'map-base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<main>
    <nav class="ui">
      <section class="ui">
        <p>Demo options: </p>
        {% block demo_options %}
        {% endblock %}
      </section>
      <section id="go-home"><a href="/">home</a></section>
    </nav>
    <section class="map">
      {% block map %}
        <div id="map"></div>
      {% endblock %}
    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script src="/static/js/map.js"></script>
  {{ super() }}
{% endblock %}