{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script async src="/static/js/map.js"></script>
{% endblock %}

{% block body %}
<main>
    <nav class="ui">
      <section class="ui"></section>
      <section id="go-home"><a href="/">home</a></section>
    </nav>
    <section class="map">
      {% block map %}
        <div id="map"></div>
      {% endblock %}
    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0RxTzsXse4XH81LWBShYzv8gyLynrWuE&callback=initMap">
  </script>
{% endblock %}