<!DOCTYPE html>
<html>
<head>
    <title>Seeking Sasquatch</title>
</head>
<body>
    <h1>Register</h1>

    <div>
      {% for flash in get_flashed_messages() %}
      {{ flash }}
      {% endfor %}
    </div>

    <form action="/register" method="POST">
    <div>
    <label>
      Name
      <input type="name" name="name">
    </label>
  </div>

  <div>
    <label>
      Email
      <input type="email" name="email">
    </label>
  </div>

  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>
    
  <div>
    <input type="submit" value="Register right now you silly goose">
  </div>
  </form>

</body>
</html>